<MudAppBar Elevation="1">
    <MudIcon Class="ml-3" Icon="@Icons.Material.Outlined.GpsFixed" Color="Color.Inherit"/>
    <MudLink Style="text-decoration: none;" Color="Color.Inherit" Href="https://localhost:7073">
        <span class="ml-4 page-title">Strive</span>
    </MudLink>
    <MudLink Style="text-decoration: none;" Color="Color.Inherit" Href="/">
        <span class="ml-4 page-subtitle">Harvester</span>
    </MudLink>
    <MudSpacer/>
    <NavMenu/>
</MudAppBar>