<a href="/day/@Date.ToString("yyyy-MM-dd")">
<section class="fip-day-section">
    <header class="fip-day-header">
        <span class="fip-date-number">@Date.Day</span>
    </header>
    <div class="fip-day-notes">
        <MudText Typo="Typo.body1">@State items available.</MudText>
    </div>
</section>
</a>
