    <tr>
        @for (int i = 0; i < 7; i++)
        {
            @if ((Index == 1 && Start.AddDays(i).Day > 7) || (Index > 3 && Start.AddDays(i).Day < 7))
            {
                <td class="fip-day-cell fip-off-month">
                <Day Date="Start.AddDays(i)" State="GetState(Start.AddDays(i))" />
                </td>
            }
            else
            {
                <td class="fip-day-cell">
                <Day Date="Start.AddDays(i)" State="GetState(Start.AddDays(i))" />
                </td>
            }

        }
    </tr>
