<aside class="summary-cell" aria-label="Week 1 summary">
    <div class="summary-title">x h xx min</div>
    <ul class="summary-list">
        <li>xxxxx Kcal</li>
        <li>xxxxxx Steps</li>
        <li>xxx km</li>
    </ul>
</aside>    