@page "/upload"

<div class="mb-3">
    <MudFileUpload T="IBrowserFile" Accept=".zip" FilesChanged="OnFilesChanged" MaximumFileCount="100">
        <ActivatorContent>
            <MudButton Variant="Variant.Filled"
                       Color="Color.Primary"
                       Disabled="@uploadDisabled"
                       StartIcon="@Icons.Material.Filled.CloudUpload">
                Import Zip Archive
            </MudButton>
        </ActivatorContent>
    </MudFileUpload>
    @* <input type="file" @onchange="OnFileSelected" accept=".zip"/> *@
</div>

@if (fileName != null)
{
    <div>
        <strong>@fileName</strong>
    </div>
    <div class="mt-2">
        <MudProgressLinear Color="Color.Primary" Value="@progress" Class="my-7" />
    </div>
}

